h1 {
  color: #ffffff;
}
body {
  background-color: rgb(47, 45, 77);
}
p {
  color: #ffffff;
  display: block;
  font-style: oblique;
  font-size: x-large;
}
ol {
  color: #ffffff;
  font-style: oblique;
}
ul {
  color: #ffffff;
  font-style: oblique;
}
div.romantic {
  background: red;
}
div.tragedy {
  background: rgb(255, 0, 119);
}
div.detective {
  background: rgb(81, 255, 0);
}
