h1 {
  color: #ffffff;
}
body {
  background-color: #434354;
}
.my-p {
  color: #ffffff;
  display: block;
  font-style: oblique;
  font-size: x-large;
  background-image: url("verse.jpeg");
  background-repeat: repeat;
  /* background-attachment: fixed;
  background-size: 10%;
  background-position: right; */
}
#my-p1 {
  color: #ffffff;
  display: block;
  font-style: oblique;
  font-size: x-large;
  background-image: url("verse.jpeg");
  background-repeat: no-repeat;
}
figure {
  padding: center;
}
ol {
  color: #ffffff;
  font-style: oblique;
}
ul {
  color: #ffffff;
  font-style: oblique;
}
div.romantic {
  background: rgba(186, 59, 255, 0.597);
}
div.tragedy {
  background: rgb(255, 202, 123);
}
div.detective {
  background: rgb(59, 188, 178);
}
header {
  color: #ffffff;
}

